@import "../../../globals.scss";

.Banner {
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
  background-color: $theme;
  gap: 2rem;

  img {
    height: 3rem;
  }

  &__seperator {
    height: 100%;
    opacity: 0.3;
    background-color: white;
    width: 0.13rem;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.6rem;
  }

  @keyframes example {
    0% {left: 0px;}
    50% {left: 40%;}
    100% {left: 0px;}
  }

  &__subway {
    img{
      height: 10em;
    }
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
  }
}
